.app-container-root-a9Uez {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.app-container-root-a9Uez .app-container-container-EHlMi {
    width: 499px;
    background-color: #fff;
}

.app-container-root-a9Uez .app-container-inlineContainer-xO8r0 {
    width: 439px;
    padding: 10px 35px 20px;
    background-color: #fff;
}

.app-container-root-a9Uez .app-container-narrow-_nXGt.app-container-inlineContainer-xO8r0 {
    width: auto;
    padding: 0;
}

.app-container-gorelkin-design-dXNkZ,
.app-container-gorelkin-design-dXNkZ > div {
    border-radius: 20px;
    width: 630px;
}

.app-container-gorelkin-design-dXNkZ > div {
    /* stylelint-disable-next-line declaration-no-important */
    padding: 0 40px !important;
}

.app-container-gorelkin-design-dXNkZ > div::before {
    /* stylelint-disable-next-line declaration-no-important */
    height: 36px !important;
}

.app-container-gorelkin-design-dXNkZ > div::after {
    /* stylelint-disable-next-line declaration-no-important */
    height: 44px !important;
}

.app-container-root-a9Uez .app-container-container-EHlMi.app-container-gorelkin-design-dXNkZ,
.app-container-root-a9Uez .app-container-inlineContainer-xO8r0.app-container-gorelkin-design-dXNkZ {
    width: 630px;
}

.auth-app-login-form-Pi2eO {
    padding: 10px 35px 20px;
    width: 370px;
}

.auth-app-social-auth-text-Vsne8 {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 13px;
    color: #858585;
    text-align: center;
}

.auth-app-social-auth-w7oDI {
    margin: 0 auto 20px;
    width: 221px;
}

.auth-app-registration-block-TMY96 {
    border-top: 1px solid #e1e1e1;
    margin-left: -30px;
    margin-right: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.auth-app-registration-link-FEVYA {
    margin-top: 27px;
    font-size: 16px;
    text-align: center;
    display: block;
}

.auth-app-agreement-UOIF5 {
    width: 365px;
    margin: 20px auto 0;
    color: #858585;
    font-size: 13px;
    text-align: center;
}

.auth-app-agreement__link-XIZr5,
.auth-app-agreement__link-XIZr5:visited {
    color: #858585;
    border-bottom: 1px solid #dadada;
}

.auth-app-agreement__link-XIZr5:hover,
.auth-app-agreement__link-XIZr5:visited:hover {
    color: #5e5e5e;
    border-bottom-color: #5e5e5e;
}

.auth-form-row_space-between-FkSTv {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: -10px auto -10px 3px;
}

.auth-form-row_submit-TrJBB {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.auth-form-auth-form__submit-y4IKe {
    width: 226px;
    margin: 0 auto;
}

.auth-form-root-o88CQ .auth-form-description-EAw8B {
    margin: -13px auto 10px;
    width: 300px;
    text-align: center;
    color: #858585;
    display: block;
}

.common-styles-container-fjGVL {
    padding: 10px 35px 0;
}

.common-styles-container__without-footer-JJtH_ {
    margin-bottom: -10px;
}

.common-styles-bold-mx92L {
    font-weight: 700;
}

.common-styles-center-ATtLU {
    text-align: center;
    display: block;
}

.common-styles-title-IGMhr {
    display: block;
    margin-bottom: 25px;
    text-align: center;
}

.common-styles-description-RpPkG {
    display: block;
    text-align: center;
    margin-bottom: 35px;
}

.common-styles-paragraph-Sadc8 {
    display: block;
    text-align: left;
    margin-bottom: 15px;
}

.common-styles-mt10-vNbMz {
    margin-top: 10px;
}

.common-styles-mb25-mx9Yo {
    margin-bottom: 25px;
}

.common-styles-mb10-ZYDD7 {
    margin-bottom: 10px;
}

.weak-password-upgrade-wrapper-qgqFd {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.weak-password-upgrade-wrapper-qgqFd > div {
    flex: 1;
}

.phone-code-phone-code__reset-link-vttDl {
    display: block;
}

.phone-code-phone-code__reset-link_with-error-xoTOl {
    margin-top: 5px;
}

.phone-code-phone-code__code-message-fopeM {
    margin-top: 5px;
}

.phone-code-phone-code__buttons-wtDa9 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.phone-code-phone-code__buttons-wrapper-w4aSu {
    display: flex;
    justify-content: center;
}

.phone-code-empty-line-ErceC {
    height: 20px;
}

