.index-root-auOiW {
    font-size: 11px;
    line-height: 16px;
    margin-top: 24px;
}

.index-root_branded-Ch8_M {
    margin-top: 48px;
}

.index-nav-SunPV {
    background-color: #fafafa;
    border-bottom: 1px solid #e1e1e1;
}

.index-nav-inner-LSLlr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 10px 18px;
    margin: 0 auto;
    list-style: none;
    width: 964px;
}

.index-item-_44Pb {
    text-decoration: none !important; /* stylelint-disable-line declaration-no-important */
    color: #0091d9;
    outline: none;
}

.index-item-_44Pb:hover {
    color: #ff6163;
}

.index-info-_1rCp {
    padding: 0 18px;
    margin: 6px auto;
    color: #858585;
    width: 964px;
}

.index-site-info-link-_KB1_ {
    text-decoration: none;
    padding: 0;
    cursor: pointer;
    opacity: .7;
    border-bottom: 1px solid currentColor;
}

.index-site-info-link-_KB1_,
.index-site-info-link-_KB1_:visited {
    color: inherit;
}

