.index-root-Jtxv7 {
    width: 109px;
    height: 30px;
    display: inline-block;
    border-bottom: 0;
    background-image: url(/dstatic/build/assets/../assets/3f05575c86642db0be92.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.index-root-Jtxv7:hover {
    opacity: .9;
}

