.styles-root-a5ys4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

/* This file is the result of code generation. Do not change it manually. */
.styles-module-theme-EugS_ {
  --theme-component-grid-gap-row: var(--theme-gap-0);
  --theme-component-grid-gap-column: var(--theme-gap-12);
  --theme-component-grid-compensation-s: var(--theme-gap-12);
  --theme-component-grid-compensation-m: var(--theme-gap-20);
  --theme-component-grid-compensation-l: var(--theme-gap-32);
  --theme-component-grid-columns: 12;
  --theme-component-spacer-gap: var(--theme-gap-12);
  --theme-component-meter-gap-s: 2px;
  --theme-component-meter-gap-m: 2px;
  --theme-component-meter-gap-l: 2px;
  --theme-component-meter-height-s: 4px;
  --theme-component-meter-height-m: 6px;
  --theme-component-meter-height-l: 8px;
  --theme-component-meter-segmentSlot-backgroundColor-default: var(--theme-palette-blue600);
  --theme-component-meter-segmentSlot-backgroundColor-disabled: var(--theme-palette-warmGray24);
  --theme-component-meter-trackSlot-backgroundColor-default: var(--theme-palette-blue200);
  --theme-component-meter-trackSlot-backgroundColor-disabled: var(--theme-palette-warmGray12);
  --theme-component-meter-trackSlot-backgroundColor-dimmed: var(--theme-palette-warmGray8);
  --theme-component-meter-presets-blue-trackSlot-backgroundColor: var(--theme-palette-blue200);
  --theme-component-meter-presets-blue-segmentSlot-backgroundColor: var(--theme-palette-blue600);
  --theme-component-meter-presets-green-trackSlot-backgroundColor: var(--theme-palette-green200);
  --theme-component-meter-presets-green-segmentSlot-backgroundColor: var(--theme-palette-green600);
  --theme-component-meter-presets-violet-trackSlot-backgroundColor: var(--theme-palette-violet200);
  --theme-component-meter-presets-violet-segmentSlot-backgroundColor: var(--theme-palette-violet600);
  --theme-component-meter-presets-orange-trackSlot-backgroundColor: var(--theme-palette-orange200);
  --theme-component-meter-presets-orange-segmentSlot-backgroundColor: var(--theme-palette-orange600);
  --theme-component-meter-presets-yellow-trackSlot-backgroundColor: var(--theme-palette-yellow200);
  --theme-component-meter-presets-yellow-segmentSlot-backgroundColor: var(--theme-palette-yellow600);
  --theme-component-meter-presets-red-trackSlot-backgroundColor: var(--theme-palette-red200);
  --theme-component-meter-presets-red-segmentSlot-backgroundColor: var(--theme-palette-red600);
  --theme-component-meter-presets-beige-trackSlot-backgroundColor: var(--theme-palette-beige200);
  --theme-component-meter-presets-beige-segmentSlot-backgroundColor: var(--theme-palette-beige800);
  --theme-component-meter-presets-warmGray-trackSlot-backgroundColor: var(--theme-palette-warmGray16);
  --theme-component-meter-presets-warmGray-segmentSlot-backgroundColor: var(--theme-palette-warmGray54);
  --theme-component-pagination-padding-s: 0 12px 2px 12px;
  --theme-component-pagination-padding-m: 0 15px 0 16px;
  --theme-component-pagination-padding-l: 0 18px 2px 19px;
  --theme-component-pagination-dividerHeight-s: 16px;
  --theme-component-pagination-dividerHeight-m: 24px;
  --theme-component-pagination-dividerHeight-l: 24px;
  --theme-component-promoblock-padding: 20px 24px 32px;
  --theme-component-promoblock-compensatedPadding: 20px 24px 36px;
  --theme-component-promoblock-borderRadius: 20px;
  --theme-component-tabs-tab-size-s-padding: 12px 0;
  --theme-component-tabs-tab-size-s-paddingRight: 14px;
  --theme-component-tabs-tab-size-s-compensatedPadding: 8px;
  --theme-component-tabs-tab-size-s-fontSize: var(--theme-font-fontSize-l);
  --theme-component-tabs-tab-size-s-lineHeight: var(--theme-font-lineHeight-l2);
  --theme-component-tabs-tab-size-m-padding: 14px 0;
  --theme-component-tabs-tab-size-m-paddingRight: 16px;
  --theme-component-tabs-tab-size-m-compensatedPadding: 10px;
  --theme-component-tabs-tab-size-m-fontSize: var(--theme-font-fontSize-xl);
  --theme-component-tabs-tab-size-m-lineHeight: var(--theme-font-lineHeight-xl);
  --theme-component-tabs-tab-size-l-padding: 16px 0;
  --theme-component-tabs-tab-size-l-paddingRight: 20px;
  --theme-component-tabs-tab-size-l-compensatedPadding: 10px;
  --theme-component-tabs-tab-size-l-fontSize: var(--theme-font-fontSize-xxl);
  --theme-component-tabs-tab-size-l-lineHeight: var(--theme-font-lineHeight-xxl);
  --theme-component-tabs-tab-counter-padding: 5px;
  --theme-component-tabs-tab-counter-size-s-fontSize: var(--theme-font-fontSize-xs);
  --theme-component-tabs-tab-counter-size-s-lineHeight: var(--theme-font-lineHeight-xs);
  --theme-component-tabs-tab-counter-size-s-top: -2px;
  --theme-component-tabs-tab-counter-size-s-left: 0px;
  --theme-component-tabs-tab-counter-size-m-fontSize: var(--theme-font-fontSize-s);
  --theme-component-tabs-tab-counter-size-m-lineHeight: var(--theme-font-lineHeight-s1);
  --theme-component-tabs-tab-counter-size-m-top: -2px;
  --theme-component-tabs-tab-counter-size-m-left: 0px;
  --theme-component-tabs-tab-counter-size-l-fontSize: var(--theme-font-fontSize-m);
  --theme-component-tabs-tab-counter-size-l-lineHeight: var(--theme-font-lineHeight-m2);
  --theme-component-tabs-tab-counter-size-l-top: -2px;
  --theme-component-tabs-tab-counter-size-l-left: -1px;
  --theme-component-tabs-tab-pointer-height: 6px;
  --theme-component-tabs-tab-pointer-color: var(--theme-palette-red500);
  --theme-component-tabs-tab-pointer-size-s-right: -11px;
  --theme-component-tabs-tab-pointer-size-s-top: 1px;
  --theme-component-tabs-tab-pointer-size-m-right: -11px;
  --theme-component-tabs-tab-pointer-size-m-top: 1px;
  --theme-component-tabs-tab-pointer-size-l-right: -11px;
  --theme-component-tabs-tab-pointer-size-l-top: 2px;
  --theme-component-h1-size: xxxl;
  --theme-component-h2-size: xxl;
  --theme-component-h3-size: xl;
  --theme-component-h4-size: l;
  --theme-component-h5-size: m;
  --theme-component-h6-size: m;
  --theme-component-ul-position: outside;
  --theme-component-ol-position: outside;
  --theme-component-chips-padding-s: 0 12px;
  --theme-component-chips-padding-m: 0 16px;
  --theme-component-chips-padding-l: 0 20px;
  --theme-borderRadius-s: 2px;
  --theme-borderRadius-m: 6px;
  --theme-borderRadius-l: 12px;
  --theme-focusBoxShadow-default: 0 0 0 3px var(--theme-palette-blue300);
  --theme-focusBoxShadow-invalid: 0 0 0 3px var(--theme-palette-red300);
  --theme-font-family: Arial, 'Helvetica Neue', Helvetica, 'Arial Rub', sans-serif;
  --theme-font-size-xs: 13px;
  --theme-font-size-s: 14px;
  --theme-font-size-m: 16px;
  --theme-font-size-l: 18px;
  --theme-font-size-xl: 20px;
  --theme-font-size-xxl: 25px;
  --theme-font-size-xxxl: 32px;
  --theme-font-size-xxxxl: 32px;
  --theme-font-size-xxxxxl: 32px;
  --theme-font-height-xs-normal: 18px;
  --theme-font-height-xs-dense: 18px;
  --theme-font-height-s-normal: 18px;
  --theme-font-height-s-dense: 18px;
  --theme-font-height-m-normal: 24px;
  --theme-font-height-m-dense: 22px;
  --theme-font-height-l-normal: 24px;
  --theme-font-height-l-dense: 22px;
  --theme-font-height-xl-normal: 26px;
  --theme-font-height-xl-dense: 26px;
  --theme-font-height-xxl-normal: 30px;
  --theme-font-height-xxl-dense: 30px;
  --theme-font-height-xxxl-normal: 36px;
  --theme-font-height-xxxl-dense: 36px;
  --theme-font-height-xxxxl-normal: 30px;
  --theme-font-height-xxxxl-dense: 30px;
  --theme-font-height-xxxxxl-normal: 36px;
  --theme-font-height-xxxxxl-dense: 36px;
  --theme-font-capitalHeight-xs: 10px;
  --theme-font-capitalHeight-s: 10px;
  --theme-font-capitalHeight-m: 12px;
  --theme-font-capitalHeight-l: 12px;
  --theme-font-capitalHeight-xl: 16px;
  --theme-font-capitalHeight-xxl: 20px;
  --theme-font-capitalHeight-xxxl: 24px;
  --theme-font-capitalHeight-xxxxl: 24px;
  --theme-font-capitalHeight-xxxxxl: 24px;
  --theme-font-weight-light: 100;
  --theme-font-weight-normal: normal;
  --theme-font-weight-bold: 700;
  --theme-font-color-default: var(--theme-palette-black);
  --theme-font-color-disabled: var(--theme-palette-gray28);
  --theme-font-color-noAccent: var(--theme-palette-gray54);
  --theme-font-color-valid: var(--theme-palette-green600);
  --theme-font-color-invalid: var(--theme-palette-red600);
  --theme-font-fontFamily: Arial, 'Helvetica Neue', Helvetica, 'Arial Rub', sans-serif;
  --theme-font-fontSize-xs: 13px;
  --theme-font-fontSize-s: 14px;
  --theme-font-fontSize-m: 16px;
  --theme-font-fontSize-l: 18px;
  --theme-font-fontSize-xl: 20px;
  --theme-font-fontSize-xxl: 25px;
  --theme-font-fontSize-xxxl: 32px;
  --theme-font-lineHeight-xs: 18px;
  --theme-font-lineHeight-s1: 18px;
  --theme-font-lineHeight-s2: 18px;
  --theme-font-lineHeight-m1: 24px;
  --theme-font-lineHeight-m2: 22px;
  --theme-font-lineHeight-l1: 24px;
  --theme-font-lineHeight-l2: 22px;
  --theme-font-lineHeight-xl: 26px;
  --theme-font-lineHeight-xxl: 30px;
  --theme-font-lineHeight-xxxl: 36px;
  --theme-gap-0: 0px;
  --theme-gap-2: 2px;
  --theme-gap-4: 4px;
  --theme-gap-6: 6px;
  --theme-gap-8: 8px;
  --theme-gap-10: 10px;
  --theme-gap-12: 12px;
  --theme-gap-16: 16px;
  --theme-gap-20: 20px;
  --theme-gap-24: 24px;
  --theme-gap-28: 28px;
  --theme-gap-32: 32px;
  --theme-gap-40: 40px;
  --theme-gap-48: 48px;
  --theme-gap-56: 56px;
  --theme-gap-64: 64px;
  --theme-gap-80: 80px;
  --theme-margin-normal-h1-h1: var(--theme-gap-20);
  --theme-margin-normal-h1-h2: var(--theme-gap-20);
  --theme-margin-normal-h1-h3: var(--theme-gap-16);
  --theme-margin-normal-h1-h4: var(--theme-gap-16);
  --theme-margin-normal-h1-h5: var(--theme-gap-12);
  --theme-margin-normal-h1-h6: var(--theme-gap-16);
  --theme-margin-normal-h1-l: var(--theme-gap-20);
  --theme-margin-normal-h1-l-dense: var(--theme-gap-16);
  --theme-margin-normal-h1-m: var(--theme-gap-16);
  --theme-margin-normal-h1-m-dense: var(--theme-gap-16);
  --theme-margin-normal-h1-s: var(--theme-gap-16);
  --theme-margin-normal-h1-xs: var(--theme-gap-16);
  --theme-margin-normal-h2-h1: var(--theme-gap-80);
  --theme-margin-normal-h2-h2: var(--theme-gap-16);
  --theme-margin-normal-h2-h3: var(--theme-gap-16);
  --theme-margin-normal-h2-h4: var(--theme-gap-16);
  --theme-margin-normal-h2-h5: var(--theme-gap-12);
  --theme-margin-normal-h2-h6: var(--theme-gap-16);
  --theme-margin-normal-h2-l: var(--theme-gap-16);
  --theme-margin-normal-h2-l-dense: var(--theme-gap-16);
  --theme-margin-normal-h2-m: var(--theme-gap-16);
  --theme-margin-normal-h2-m-dense: var(--theme-gap-16);
  --theme-margin-normal-h2-s: var(--theme-gap-16);
  --theme-margin-normal-h2-xs: var(--theme-gap-12);
  --theme-margin-normal-h3-h1: var(--theme-gap-80);
  --theme-margin-normal-h3-h2: var(--theme-gap-56);
  --theme-margin-normal-h3-h3: var(--theme-gap-12);
  --theme-margin-normal-h3-h4: var(--theme-gap-12);
  --theme-margin-normal-h3-h5: var(--theme-gap-12);
  --theme-margin-normal-h3-h6: var(--theme-gap-12);
  --theme-margin-normal-h3-l: var(--theme-gap-16);
  --theme-margin-normal-h3-l-dense: var(--theme-gap-16);
  --theme-margin-normal-h3-m: var(--theme-gap-12);
  --theme-margin-normal-h3-m-dense: var(--theme-gap-12);
  --theme-margin-normal-h3-s: var(--theme-gap-12);
  --theme-margin-normal-h3-xs: var(--theme-gap-10);
  --theme-margin-normal-h4-h1: var(--theme-gap-80);
  --theme-margin-normal-h4-h2: var(--theme-gap-56);
  --theme-margin-normal-h4-h3: var(--theme-gap-32);
  --theme-margin-normal-h4-h4: var(--theme-gap-12);
  --theme-margin-normal-h4-h5: var(--theme-gap-12);
  --theme-margin-normal-h4-h6: var(--theme-gap-12);
  --theme-margin-normal-h4-l: var(--theme-gap-16);
  --theme-margin-normal-h4-l-dense: var(--theme-gap-12);
  --theme-margin-normal-h4-m: var(--theme-gap-12);
  --theme-margin-normal-h4-m-dense: var(--theme-gap-12);
  --theme-margin-normal-h4-s: var(--theme-gap-12);
  --theme-margin-normal-h4-xs: var(--theme-gap-10);
  --theme-margin-normal-h5-h1: var(--theme-gap-80);
  --theme-margin-normal-h5-h2: var(--theme-gap-56);
  --theme-margin-normal-h5-h3: var(--theme-gap-32);
  --theme-margin-normal-h5-h4: var(--theme-gap-24);
  --theme-margin-normal-h5-h5: var(--theme-gap-12);
  --theme-margin-normal-h5-h6: var(--theme-gap-10);
  --theme-margin-normal-h5-l: var(--theme-gap-16);
  --theme-margin-normal-h5-l-dense: var(--theme-gap-12);
  --theme-margin-normal-h5-m: var(--theme-gap-12);
  --theme-margin-normal-h5-m-dense: var(--theme-gap-12);
  --theme-margin-normal-h5-s: var(--theme-gap-10);
  --theme-margin-normal-h5-xs: var(--theme-gap-8);
  --theme-margin-normal-h6-h1: var(--theme-gap-80);
  --theme-margin-normal-h6-h2: var(--theme-gap-56);
  --theme-margin-normal-h6-h3: var(--theme-gap-32);
  --theme-margin-normal-h6-h4: var(--theme-gap-24);
  --theme-margin-normal-h6-h5: var(--theme-gap-16);
  --theme-margin-normal-h6-h6: var(--theme-gap-8);
  --theme-margin-normal-h6-l: var(--theme-gap-16);
  --theme-margin-normal-h6-l-dense: var(--theme-gap-12);
  --theme-margin-normal-h6-m: var(--theme-gap-16);
  --theme-margin-normal-h6-m-dense: var(--theme-gap-10);
  --theme-margin-normal-h6-s: var(--theme-gap-8);
  --theme-margin-normal-h6-xs: var(--theme-gap-8);
  --theme-margin-normal-l-h1: var(--theme-gap-80);
  --theme-margin-normal-l-h2: var(--theme-gap-56);
  --theme-margin-normal-l-h3: var(--theme-gap-32);
  --theme-margin-normal-l-h4: var(--theme-gap-24);
  --theme-margin-normal-l-h5: var(--theme-gap-16);
  --theme-margin-normal-l-h6: var(--theme-gap-16);
  --theme-margin-normal-l-l: var(--theme-gap-16);
  --theme-margin-normal-l-l-dense: var(--theme-gap-16);
  --theme-margin-normal-l-m: var(--theme-gap-16);
  --theme-margin-normal-l-m-dense: var(--theme-gap-16);
  --theme-margin-normal-l-s: var(--theme-gap-16);
  --theme-margin-normal-l-xs: var(--theme-gap-16);
  --theme-margin-normal-l-dense-h1: var(--theme-gap-80);
  --theme-margin-normal-l-dense-h2: var(--theme-gap-56);
  --theme-margin-normal-l-dense-h3: var(--theme-gap-32);
  --theme-margin-normal-l-dense-h4: var(--theme-gap-24);
  --theme-margin-normal-l-dense-h5: var(--theme-gap-12);
  --theme-margin-normal-l-dense-h6: var(--theme-gap-12);
  --theme-margin-normal-l-dense-l: var(--theme-gap-16);
  --theme-margin-normal-l-dense-l-dense: var(--theme-gap-12);
  --theme-margin-normal-l-dense-m: var(--theme-gap-12);
  --theme-margin-normal-l-dense-m-dense: var(--theme-gap-12);
  --theme-margin-normal-l-dense-s: var(--theme-gap-12);
  --theme-margin-normal-l-dense-xs: var(--theme-gap-12);
  --theme-margin-normal-m-h1: var(--theme-gap-80);
  --theme-margin-normal-m-h2: var(--theme-gap-56);
  --theme-margin-normal-m-h3: var(--theme-gap-32);
  --theme-margin-normal-m-h4: var(--theme-gap-24);
  --theme-margin-normal-m-h5: var(--theme-gap-12);
  --theme-margin-normal-m-h6: var(--theme-gap-16);
  --theme-margin-normal-m-l: var(--theme-gap-16);
  --theme-margin-normal-m-l-dense: var(--theme-gap-16);
  --theme-margin-normal-m-m: var(--theme-gap-12);
  --theme-margin-normal-m-m-dense: var(--theme-gap-12);
  --theme-margin-normal-m-s: var(--theme-gap-16);
  --theme-margin-normal-m-xs: var(--theme-gap-16);
  --theme-margin-normal-m-dense-h1: var(--theme-gap-80);
  --theme-margin-normal-m-dense-h2: var(--theme-gap-56);
  --theme-margin-normal-m-dense-h3: var(--theme-gap-32);
  --theme-margin-normal-m-dense-h4: var(--theme-gap-24);
  --theme-margin-normal-m-dense-h5: var(--theme-gap-12);
  --theme-margin-normal-m-dense-h6: var(--theme-gap-10);
  --theme-margin-normal-m-dense-l: var(--theme-gap-16);
  --theme-margin-normal-m-dense-l-dense: var(--theme-gap-12);
  --theme-margin-normal-m-dense-m: var(--theme-gap-12);
  --theme-margin-normal-m-dense-m-dense: var(--theme-gap-8);
  --theme-margin-normal-m-dense-s: var(--theme-gap-10);
  --theme-margin-normal-m-dense-xs: var(--theme-gap-10);
  --theme-margin-normal-s-h1: var(--theme-gap-80);
  --theme-margin-normal-s-h2: var(--theme-gap-56);
  --theme-margin-normal-s-h3: var(--theme-gap-32);
  --theme-margin-normal-s-h4: var(--theme-gap-24);
  --theme-margin-normal-s-h5: var(--theme-gap-16);
  --theme-margin-normal-s-h6: var(--theme-gap-8);
  --theme-margin-normal-s-l: var(--theme-gap-16);
  --theme-margin-normal-s-l-dense: var(--theme-gap-12);
  --theme-margin-normal-s-m: var(--theme-gap-16);
  --theme-margin-normal-s-m-dense: var(--theme-gap-10);
  --theme-margin-normal-s-s: var(--theme-gap-8);
  --theme-margin-normal-s-xs: var(--theme-gap-8);
  --theme-margin-normal-xs-h1: var(--theme-gap-80);
  --theme-margin-normal-xs-h2: var(--theme-gap-56);
  --theme-margin-normal-xs-h3: var(--theme-gap-32);
  --theme-margin-normal-xs-h4: var(--theme-gap-24);
  --theme-margin-normal-xs-h5: var(--theme-gap-16);
  --theme-margin-normal-xs-h6: var(--theme-gap-8);
  --theme-margin-normal-xs-l: var(--theme-gap-16);
  --theme-margin-normal-xs-l-dense: var(--theme-gap-12);
  --theme-margin-normal-xs-m: var(--theme-gap-16);
  --theme-margin-normal-xs-m-dense: var(--theme-gap-10);
  --theme-margin-normal-xs-s: var(--theme-gap-8);
  --theme-margin-normal-xs-xs: var(--theme-gap-6);
  --theme-margin-dense-h1-h2: var(--theme-gap-6);
  --theme-margin-dense-h1-h3: var(--theme-gap-6);
  --theme-margin-dense-h1-h4: var(--theme-gap-8);
  --theme-margin-dense-h1-h5: var(--theme-gap-8);
  --theme-margin-dense-h1-h6: var(--theme-gap-10);
  --theme-margin-dense-h1-l: var(--theme-gap-10);
  --theme-margin-dense-h1-l-dense: var(--theme-gap-12);
  --theme-margin-dense-h1-m: var(--theme-gap-6);
  --theme-margin-dense-h1-m-dense: var(--theme-gap-8);
  --theme-margin-dense-h1-s: var(--theme-gap-10);
  --theme-margin-dense-h1-xs: var(--theme-gap-10);
  --theme-margin-dense-h2-h1: var(--theme-gap-6);
  --theme-margin-dense-h2-h3: var(--theme-gap-6);
  --theme-margin-dense-h2-h4: var(--theme-gap-4);
  --theme-margin-dense-h2-h5: var(--theme-gap-6);
  --theme-margin-dense-h2-h6: var(--theme-gap-6);
  --theme-margin-dense-h2-l: var(--theme-gap-8);
  --theme-margin-dense-h2-l-dense: var(--theme-gap-10);
  --theme-margin-dense-h2-m: var(--theme-gap-6);
  --theme-margin-dense-h2-m-dense: var(--theme-gap-8);
  --theme-margin-dense-h2-s: var(--theme-gap-6);
  --theme-margin-dense-h2-xs: var(--theme-gap-6);
  --theme-margin-dense-h3-h1: var(--theme-gap-4);
  --theme-margin-dense-h3-h2: var(--theme-gap-4);
  --theme-margin-dense-h3-h4: var(--theme-gap-6);
  --theme-margin-dense-h3-h5: var(--theme-gap-4);
  --theme-margin-dense-h3-h6: var(--theme-gap-4);
  --theme-margin-dense-h3-l: var(--theme-gap-2);
  --theme-margin-dense-h3-l-dense: var(--theme-gap-4);
  --theme-margin-dense-h3-m: var(--theme-gap-4);
  --theme-margin-dense-h3-m-dense: var(--theme-gap-6);
  --theme-margin-dense-h3-s: var(--theme-gap-4);
  --theme-margin-dense-h3-xs: var(--theme-gap-4);
  --theme-margin-dense-h4-h1: var(--theme-gap-6);
  --theme-margin-dense-h4-h2: var(--theme-gap-6);
  --theme-margin-dense-h4-h3: var(--theme-gap-6);
  --theme-margin-dense-h4-h5: var(--theme-gap-4);
  --theme-margin-dense-h4-h6: var(--theme-gap-4);
  --theme-margin-dense-h4-l: var(--theme-gap-2);
  --theme-margin-dense-h4-m: var(--theme-gap-2);
  --theme-margin-dense-h4-m-dense: var(--theme-gap-2);
  --theme-margin-dense-h4-s: var(--theme-gap-4);
  --theme-margin-dense-h4-xs: var(--theme-gap-2);
  --theme-margin-dense-h5-h1: var(--theme-gap-6);
  --theme-margin-dense-h5-h2: var(--theme-gap-4);
  --theme-margin-dense-h5-h3: var(--theme-gap-4);
  --theme-margin-dense-h5-h4: var(--theme-gap-4);
  --theme-margin-dense-h5-h6: var(--theme-gap-2);
  --theme-margin-dense-h5-l: var(--theme-gap-2);
  --theme-margin-dense-h5-l-dense: var(--theme-gap-2);
  --theme-margin-dense-h5-m: var(--theme-gap-2);
  --theme-margin-dense-h5-s: var(--theme-gap-2);
  --theme-margin-dense-h5-xs: var(--theme-gap-2);
  --theme-margin-dense-h6-h1: var(--theme-gap-8);
  --theme-margin-dense-h6-h2: var(--theme-gap-6);
  --theme-margin-dense-h6-h3: var(--theme-gap-4);
  --theme-margin-dense-h6-h4: var(--theme-gap-4);
  --theme-margin-dense-h6-h5: var(--theme-gap-2);
  --theme-margin-dense-h6-l: var(--theme-gap-4);
  --theme-margin-dense-h6-l-dense: var(--theme-gap-2);
  --theme-margin-dense-h6-m: var(--theme-gap-2);
  --theme-margin-dense-h6-m-dense: var(--theme-gap-2);
  --theme-margin-dense-l-h1: var(--theme-gap-8);
  --theme-margin-dense-l-h2: var(--theme-gap-6);
  --theme-margin-dense-l-h3: var(--theme-gap-2);
  --theme-margin-dense-l-h4: var(--theme-gap-2);
  --theme-margin-dense-l-h6: var(--theme-gap-4);
  --theme-margin-dense-l-l-dense: var(--theme-gap-2);
  --theme-margin-dense-l-m: var(--theme-gap-2);
  --theme-margin-dense-l-m-dense: var(--theme-gap-2);
  --theme-margin-dense-l-s: var(--theme-gap-4);
  --theme-margin-dense-l-xs: var(--theme-gap-2);
  --theme-margin-dense-l-dense-h1: var(--theme-gap-10);
  --theme-margin-dense-l-dense-h2: var(--theme-gap-8);
  --theme-margin-dense-l-dense-h3: var(--theme-gap-4);
  --theme-margin-dense-l-dense-h6: var(--theme-gap-2);
  --theme-margin-dense-l-dense-l: var(--theme-gap-2);
  --theme-margin-dense-l-dense-m: var(--theme-gap-2);
  --theme-margin-dense-l-dense-m-dense: var(--theme-gap-2);
  --theme-margin-dense-l-dense-s: var(--theme-gap-2);
  --theme-margin-dense-l-dense-xs: var(--theme-gap-2);
  --theme-margin-dense-m-h1: var(--theme-gap-6);
  --theme-margin-dense-m-h2: var(--theme-gap-6);
  --theme-margin-dense-m-h3: var(--theme-gap-6);
  --theme-margin-dense-m-h4: var(--theme-gap-4);
  --theme-margin-dense-m-h5: var(--theme-gap-2);
  --theme-margin-dense-m-h6: var(--theme-gap-4);
  --theme-margin-dense-m-l: var(--theme-gap-4);
  --theme-margin-dense-m-l-dense: var(--theme-gap-4);
  --theme-margin-dense-m-m-dense: var(--theme-gap-2);
  --theme-margin-dense-m-s: var(--theme-gap-4);
  --theme-margin-dense-m-xs: var(--theme-gap-4);
  --theme-margin-dense-m-dense-h1: var(--theme-gap-6);
  --theme-margin-dense-m-dense-h2: var(--theme-gap-8);
  --theme-margin-dense-m-dense-h3: var(--theme-gap-8);
  --theme-margin-dense-m-dense-h4: var(--theme-gap-4);
  --theme-margin-dense-m-dense-h6: var(--theme-gap-2);
  --theme-margin-dense-m-dense-l: var(--theme-gap-4);
  --theme-margin-dense-m-dense-l-dense: var(--theme-gap-4);
  --theme-margin-dense-m-dense-m: var(--theme-gap-2);
  --theme-margin-dense-m-dense-s: var(--theme-gap-2);
  --theme-margin-dense-m-dense-xs: var(--theme-gap-2);
  --theme-margin-dense-s-h1: var(--theme-gap-8);
  --theme-margin-dense-s-h2: var(--theme-gap-6);
  --theme-margin-dense-s-h3: var(--theme-gap-4);
  --theme-margin-dense-s-h4: var(--theme-gap-4);
  --theme-margin-dense-s-h5: var(--theme-gap-2);
  --theme-margin-dense-s-l: var(--theme-gap-4);
  --theme-margin-dense-s-l-dense: var(--theme-gap-2);
  --theme-margin-dense-s-m: var(--theme-gap-2);
  --theme-margin-dense-s-m-dense: var(--theme-gap-2);
  --theme-margin-dense-xs-h1: var(--theme-gap-8);
  --theme-margin-dense-xs-h2: var(--theme-gap-4);
  --theme-margin-dense-xs-h3: var(--theme-gap-4);
  --theme-margin-dense-xs-h4: var(--theme-gap-2);
  --theme-margin-dense-xs-h5: var(--theme-gap-2);
  --theme-margin-dense-xs-l: var(--theme-gap-2);
  --theme-margin-dense-xs-l-dense: var(--theme-gap-2);
  --theme-margin-dense-xs-m: var(--theme-gap-4);
  --theme-margin-dense-xs-m-dense: var(--theme-gap-2);
  --theme-palette-beige50: #f2efe9;
  --theme-palette-beige100: #ede9e1;
  --theme-palette-beige200: #e5dfd3;
  --theme-palette-beige300: #dbd3c1;
  --theme-palette-beige400: #cfc4ae;
  --theme-palette-beige500: #c2b69b;
  --theme-palette-beige600: #b5a78a;
  --theme-palette-beige700: #a89979;
  --theme-palette-beige800: #9c8c6b;
  --theme-palette-beige900: #8f7f5e;
  --theme-palette-blue50: #e6f6ff;
  --theme-palette-blue75: #d4f0ff;
  --theme-palette-blue100: #ccecff;
  --theme-palette-blue200: #a1dfff;
  --theme-palette-blue300: #80d4ff;
  --theme-palette-blue400: #45c1ff;
  --theme-palette-blue500: #00aaff;
  --theme-palette-blue600: #0099f7;
  --theme-palette-blue700: #008aed;
  --theme-palette-blue800: #007deb;
  --theme-palette-blue900: #0075eb;
  --theme-palette-green50: #eafccf;
  --theme-palette-green75: #ddf9b9;
  --theme-palette-green100: #d6f7ad;
  --theme-palette-green200: #b9ed85;
  --theme-palette-green300: #9de364;
  --theme-palette-green400: #7adb35;
  --theme-palette-green500: #4fcc02;
  --theme-palette-green600: #43bf00;
  --theme-palette-green700: #39b200;
  --theme-palette-green800: #30a800;
  --theme-palette-green900: #289e00;
  --theme-palette-red50: #ffedee;
  --theme-palette-red75: #ffe3e3;
  --theme-palette-red100: #ffe6e6;
  --theme-palette-red200: #ffc5c6;
  --theme-palette-red300: #ffacad;
  --theme-palette-red400: #ff8c8f;
  --theme-palette-red500: #ff6163;
  --theme-palette-red600: #ff4053;
  --theme-palette-red700: #f71b47;
  --theme-palette-red800: #e8003e;
  --theme-palette-red900: #d9013a;
  --theme-palette-yellow50: #fff9de;
  --theme-palette-yellow100: #fff5c9;
  --theme-palette-yellow200: #ffeda3;
  --theme-palette-yellow300: #ffe27a;
  --theme-palette-yellow400: #ffd950;
  --theme-palette-yellow500: #ffcf24;
  --theme-palette-yellow600: #fcc600;
  --theme-palette-yellow700: #f7be00;
  --theme-palette-yellow800: #f5b800;
  --theme-palette-yellow900: #f2b200;
  --theme-palette-purple50: #f3edfe;
  --theme-palette-purple100: #f0e7fe;
  --theme-palette-purple200: #dac5fb;
  --theme-palette-purple300: #caacfa;
  --theme-palette-purple400: #b78ff9;
  --theme-palette-purple500: #a168f7;
  --theme-palette-purple600: #965eeb;
  --theme-palette-purple700: #8c4fe8;
  --theme-palette-purple800: #8144db;
  --theme-palette-purple900: #493072;
  --theme-palette-violet50: #f3edfe;
  --theme-palette-violet100: #f0e7fe;
  --theme-palette-violet200: #dac5fb;
  --theme-palette-violet300: #caacfa;
  --theme-palette-violet400: #b78ff9;
  --theme-palette-violet500: #a168f7;
  --theme-palette-violet600: #965eeb;
  --theme-palette-violet700: #8c4fe8;
  --theme-palette-violet800: #8144db;
  --theme-palette-violet900: #493072;
  --theme-palette-orange50: #fff5e2;
  --theme-palette-orange75: #ffedca;
  --theme-palette-orange100: #ffecc9;
  --theme-palette-orange200: #ffdda1;
  --theme-palette-orange300: #ffce75;
  --theme-palette-orange400: #ffbf4d;
  --theme-palette-orange500: #ffb021;
  --theme-palette-orange600: #fca400;
  --theme-palette-orange700: #f79900;
  --theme-palette-orange800: #f28d00;
  --theme-palette-orange900: #f08400;
  --theme-palette-gray4: #f5f5f5;
  --theme-palette-gray8: #ebebeb;
  --theme-palette-gray12: #e0e0e0;
  --theme-palette-gray16: #d6d6d6;
  --theme-palette-gray20: #cccccc;
  --theme-palette-gray24: #c2c2c2;
  --theme-palette-gray28: #b8b8b8;
  --theme-palette-gray32: #adadad;
  --theme-palette-gray36: #a3a3a3;
  --theme-palette-gray40: #999999;
  --theme-palette-gray44: #8f8f8f;
  --theme-palette-gray48: #858585;
  --theme-palette-gray52: #7a7a7a;
  --theme-palette-gray54: #757575;
  --theme-palette-gray56: #707070;
  --theme-palette-gray60: #666666;
  --theme-palette-gray64: #5c5c5c;
  --theme-palette-gray68: #525252;
  --theme-palette-gray72: #474747;
  --theme-palette-gray76: #3d3d3d;
  --theme-palette-gray80: #333333;
  --theme-palette-gray84: #292929;
  --theme-palette-gray88: #1f1f1f;
  --theme-palette-gray92: #141414;
  --theme-palette-gray96: #0a0a0a;
  --theme-palette-warmGray2: #f7f7f5;
  --theme-palette-warmGray4: #f2f1f0;
  --theme-palette-warmGray8: #ebeae8;
  --theme-palette-warmGray12: #e3e2e1;
  --theme-palette-warmGray16: #dbdbd9;
  --theme-palette-warmGray20: #d4d2cf;
  --theme-palette-warmGray24: #cccbc8;
  --theme-palette-warmGray28: #c2c1be;
  --theme-palette-warmGray36: #adaca8;
  --theme-palette-warmGray44: #999894;
  --theme-palette-warmGray48: #8f8d8b;
  --theme-palette-warmGray54: #7a7976;
  --theme-palette-warmGray64: #5c5b58;
  --theme-palette-warmGray68: #52514e;
  --theme-palette-warmGray76: #3d3c3a;
  --theme-palette-warmGray84: #292827;
  --theme-palette-warmGray100: #0a0a0a;
  --theme-palette-black: rgba(0, 0, 0, 1);
  --theme-palette-black4: rgba(0, 0, 0, 0.04);
  --theme-palette-black8: rgba(0, 0, 0, 0.08);
  --theme-palette-black12: rgba(0, 0, 0, 0.12);
  --theme-palette-black16: rgba(0, 0, 0, 0.16);
  --theme-palette-black20: rgba(0, 0, 0, 0.2);
  --theme-palette-black24: rgba(0, 0, 0, 0.24);
  --theme-palette-black28: rgba(0, 0, 0, 0.28);
  --theme-palette-black32: rgba(0, 0, 0, 0.32);
  --theme-palette-black36: rgba(0, 0, 0, 0.36);
  --theme-palette-black40: rgba(0, 0, 0, 0.4);
  --theme-palette-black44: rgba(0, 0, 0, 0.44);
  --theme-palette-black48: rgba(0, 0, 0, 0.48);
  --theme-palette-black52: rgba(0, 0, 0, 0.52);
  --theme-palette-black56: rgba(0, 0, 0, 0.56);
  --theme-palette-black60: rgba(0, 0, 0, 0.6);
  --theme-palette-black64: rgba(0, 0, 0, 0.64);
  --theme-palette-black68: rgba(0, 0, 0, 0.68);
  --theme-palette-black72: rgba(0, 0, 0, 0.72);
  --theme-palette-black76: rgba(0, 0, 0, 0.76);
  --theme-palette-black80: rgba(0, 0, 0, 0.8);
  --theme-palette-black84: rgba(0, 0, 0, 0.84);
  --theme-palette-black88: rgba(0, 0, 0, 0.88);
  --theme-palette-black92: rgba(0, 0, 0, 0.92);
  --theme-palette-black96: rgba(0, 0, 0, 0.96);
  --theme-palette-white5: rgba(255, 255, 255, 0.05);
  --theme-palette-white10: rgba(255, 255, 255, 0.1);
  --theme-palette-white15: rgba(255, 255, 255, 0.15);
  --theme-palette-white20: rgba(255, 255, 255, 0.2);
  --theme-palette-white25: rgba(255, 255, 255, 0.25);
  --theme-palette-white30: rgba(255, 255, 255, 0.3);
  --theme-palette-white35: rgba(255, 255, 255, 0.35);
  --theme-palette-white40: rgba(255, 255, 255, 0.4);
  --theme-palette-white45: rgba(255, 255, 255, 0.45);
  --theme-palette-white50: rgba(255, 255, 255, 0.5);
  --theme-palette-white55: rgba(255, 255, 255, 0.55);
  --theme-palette-white60: rgba(255, 255, 255, 0.6);
  --theme-palette-white65: rgba(255, 255, 255, 0.65);
  --theme-palette-white70: rgba(255, 255, 255, 0.7);
  --theme-palette-white75: rgba(255, 255, 255, 0.75);
  --theme-palette-white80: rgba(255, 255, 255, 0.8);
  --theme-palette-white85: rgba(255, 255, 255, 0.85);
  --theme-palette-white90: rgba(255, 255, 255, 0.9);
  --theme-palette-white95: rgba(255, 255, 255, 0.95);
  --theme-palette-white: #ffffff;
  --theme-size-s-height: 32px;
  --theme-size-s-fontSize: 14px;
  --theme-size-s-iconSize: 16;
  --theme-size-m-height: 40px;
  --theme-size-m-fontSize: 16px;
  --theme-size-m-iconSize: 20;
  --theme-size-l-height: 48px;
  --theme-size-l-fontSize: 18px;
  --theme-size-l-iconSize: 20;
}

.styles-module-root_mode_page-_23Ce {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    max-width: 1316px;
    padding: 0 16px;
}

.styles-module-header-jNMZL {
    margin: 16px 0;
}

.styles-module-container-Q_HUz {
    display: grid;
    gap: 34px;
    grid-template-columns: 1fr 390px;
    margin: 48px 0;
}

.styles-module-container_mode_page-_zEab {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.styles-module-content-Z8dD5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.styles-module-contentWrapper-ZAn0K {
    padding-top: 80px;
}

.styles-module-contentWrapper_mode_page-KMqIx {
    margin-bottom: auto;
}

.styles-module-cover-up5iz {
    min-height: 360px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
}

.styles-module-cover_page-bOsBN {
    background-image: url(/dstatic/build/assets/../assets/37d8fa0af8c042af3b91.svg);
}

.styles-module-cover_unknown-ALWOA {
    background-image: url(/dstatic/build/assets/../assets/f2be7d00b031f6942dbc.svg);
}

.styles-module-message-J_cOb {
    margin: 8px 0 16px;
}

.styles-module-code-EAhIZ {
    margin-top: 16px;
}

.Logo-module-root-_kAtn {
    width: 109px;
    height: 30px;
    display: inline-block;
    border-bottom: 0;
    background-image: url(/dstatic/build/assets/../assets/3f05575c86642db0be92.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.Logo-module-root-_kAtn:hover {
    opacity: .9;
}

